@import '~node_modules/modern-normalize/modern-normalize.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
  }
  
  body {
    background: #71dbff;
  }